## ```logistic Regression```

#### this is used for classification of data in one form e.g. win/loss, etc.
#### this used for probability.
#### it's outcome is binary.

In [401]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [402]:
df=pd.read_csv("cust_satisfaction.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [403]:
df.duplicated()
df.duplicated().sum()

np.int64(172)

In [404]:
df.drop_duplicates(inplace=True)

In [405]:
df.duplicated().sum()

np.int64(0)

In [406]:
df.isnull().sum()

Gender                          0
Customer Type                   0
Type of Travel                  0
Class                           0
satisfaction                    0
Age                             0
Flight Distance                 0
Inflight entertainment          0
Baggage handling                0
Cleanliness                     0
Departure Delay in Minutes      0
Arrival Delay in Minutes      310
dtype: int64

In [407]:
df.dropna(inplace=True)
df.isnull().sum()

Gender                        0
Customer Type                 0
Type of Travel                0
Class                         0
satisfaction                  0
Age                           0
Flight Distance               0
Inflight entertainment        0
Baggage handling              0
Cleanliness                   0
Departure Delay in Minutes    0
Arrival Delay in Minutes      0
dtype: int64

In [408]:
df['Customer Type'].value_counts()

Customer Type
Loyal Customer       84517
disloyal Customer    18905
Name: count, dtype: int64

In [409]:
loyal_customer=df[df['Customer Type']=='Loyal Customer']
disloyal_customer=df[df['Customer Type']=='disloyal Customer']

In [410]:
loyal_customer = loyal_customer.sample(20000)
loyal_customer.shape

(20000, 12)

In [411]:
balance_df=pd.concat([loyal_customer,disloyal_customer],axis=0)
balance_df.shape

(38905, 12)

In [412]:
cat_col=balance_df.select_dtypes(include=['object'])
cat_col.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction
61454,Female,Loyal Customer,Personal Travel,Eco,satisfied
88941,Male,Loyal Customer,Personal Travel,Eco,satisfied
65489,Female,Loyal Customer,Business travel,Business,satisfied
18799,Female,Loyal Customer,Personal Travel,Eco,satisfied
85749,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied

In [413]:
#cat_col=cat_col.drop([])

In [414]:
num_col=balance_df.select_dtypes(exclude=["object"])
num_col.head()

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
61454,56,1533,2,2,4,0,0.0
88941,10,1452,5,4,5,1,0.0
65489,58,164,5,4,4,0,0.0
18799,13,255,2,5,2,0,0.0
85749,54,456,4,4,1,0,0.0

In [415]:
pd.get_dummies(cat_col,drop_first=True).astype(int).head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus,satisfaction_satisfied
61454,0,0,1,1,0,1
88941,1,0,1,1,0,1
65489,0,0,0,0,0,1
18799,0,0,1,1,0,1
85749,0,0,0,0,0,0

In [416]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder

ohe=OneHotEncoder(drop='if_binary')
cat_cal_encoded=ohe.fit_transform(cat_col).toarray()
cat_cal_encoded

array([[0., 0., 1., ..., 1., 0., 1.],
       [1., 0., 1., ..., 1., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 1., 0., ..., 1., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.]])

In [417]:
column_names=list(ohe.get_feature_names_out())
column_names

['Gender_Male',
 'Customer Type_disloyal Customer',
 'Type of Travel_Personal Travel',
 'Class_Business',
 'Class_Eco',
 'Class_Eco Plus',
 'satisfaction_satisfied']

In [418]:
one_hot=pd.DataFrame(cat_cal_encoded,columns=column_names)
one_hot.head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
1,1.0,0.0,1.0,0.0,1.0,0.0,1.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [419]:
one_hot=one_hot.reset_index(drop=True)# to prevent from giving null values after concating 
num_col=num_col.reset_index(drop=True)

In [420]:
final_df=pd.concat([one_hot,num_col],axis=1)
final_df.head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,56,1533,2,2,4,0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,1.0,10,1452,5,4,5,1,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,58,164,5,4,4,0,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,1.0,13,255,2,5,2,0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,54,456,4,4,1,0,0.0

In [421]:
# matrix=final_df.corr()
# matrix

In [422]:
# sns.heatmap(matrix,annot=True,cmap="coolwarm")

In [423]:
x=final_df.drop("Customer Type_disloyal Customer",axis=1)
y=final_df["Customer Type_disloyal Customer"]

In [424]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [425]:
# deep learning
# Standard Scalar
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train_transform=sc.fit_transform(x_train)
x_test_transform=sc.transform(x_test)

In [426]:
# define your ann model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [427]:
x_train.shape[1]

13

In [428]:
#initialising Sequential
model=Sequential()
# Initialize the model
# Input layer + first hidden layer
#model.add(Dense(    -->no of neurons -> activation -->input dimension ))

model.add(Dense(68, activation="relu", input_dim=(x_train_transform.shape[1])))

# Hidden layers
model.add(Dense(32, activation="relu"))
model.add(Dense(24, activation="relu"))
model.add(Dense(12, activation="relu"))

# Output layer
model.add(Dense(1, activation="sigmoid"))

# Compile the model
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

# Display model summary
model.summary()

c:\Users\dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_14"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_66 (Dense)                │ (None, 68)             │           952 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_67 (Dense)                │ (None, 32)             │         2,208 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_68 (Dense)                │ (None, 24)             │           792 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_69 (Dense)                │ (None, 12)             │           300 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_70 (Dense)                │ (None, 1)              │            13 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 4,265 (16.66 KB)

 Trainable params: 4,265 (16.66 KB)

 Non-trainable params: 0 (0.00 B)

In [429]:
# Total params: 4,265 (16.66 KB) this means a particular layer has 4,265 parameters that are need to be train
#these are calculated by formula (n_in + 1) * n_out here, n is the number of inputs
#e.g
((13+1)*68)+(68+1)*32+(32+1)*24+(24+1)*12+(12+1)*1

4265

#### for finding optimal epochs we need regularisation techniques

In [430]:
history=model.fit(x_train_transform,
                  y_train,
                  epochs=10,
                  validation_data=(x_test_transform,y_test),
                  )

Epoch 1/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - accuracy: 0.8610 - loss: 0.3467 - val_accuracy: 0.9117 - val_loss: 0.2312
Epoch 2/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9084 - loss: 0.2353 - val_accuracy: 0.9145 - val_loss: 0.2258
Epoch 3/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9107 - loss: 0.2268 - val_accuracy: 0.9193 - val_loss: 0.2114
Epoch 4/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.9153 - loss: 0.2184 - val_accuracy: 0.9197 - val_loss: 0.2154
Epoch 5/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9196 - loss: 0.2073 - val_accuracy: 0.9167 - val_loss: 0.2099
Epoch 6/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9235 - loss: 0.1987 - val_accuracy: 0.9229 - val_loss: 0.2015
Epoch 7/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9185 - loss: 0.2044 - val_accuracy: 0.9231 - val_loss: 0.2025
Epoch 8/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9193 - loss: 0.2021 - val_accuracy: 0.9243 - val_loss: 0.2004
Epoch 9/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9247 - loss: 0.1987 - val_accuracy: 0.9239 - val_loss: 0.1991
Epoch 10/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.9240 - loss: 0.1951 - val_accuracy: 0.9229 - val_loss: 0.2059

In [431]:
## prediction
y_pred=model.predict(x_test_transform)
prediction_label=(y_pred>0.5).astype(int).ravel()
prediction_label

244/244 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

array([0, 1, 0, ..., 1, 1, 1])

In [432]:
# to save model
model.save("logistic_model.keras")

In [433]:
# to load model
from tensorflow.keras.models import load_model
model=load_model("logistic_model.keras")